<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <br/>
    <select id="select-role" required class="form-control" th:field="*{roles}" multiple="multiple" >
        <option th:each="role : ${allRoles}"
                th:field="*{roles}"
                th:value="${role.id}"
                th:text="${role.name}">Role name
        </option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>