<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users:</h1>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="role.name"></td>
        <td><a th:href="@{/admin/edit?id={id}(id=${user.getId()})}">Edit</a></td>
        <td>
            <form th:method="POST" th:action="@{/admin/remove?id={id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        </br>
    </tr>
</table>
<br/>
<a href="users/new">Create new person</a>
</body>
</html>