<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Admin page</title>
</head>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <p class="navbar-brand mb-0 h1" id="header"></p>
            <form th:method="POST" th:action="@{/logout}">
                <button type="submit" value="Logout" class="btn btn-dark nav-item text-secondary">Logout</button>
            </form>
        </div>
    </nav>
</header>
<body>
<div class="d-flex align-items-start" style="height: 100vh">

    <div class="col-2 sidebar">
        <div class="nav flex-column">
            <a onclick="changeColor(true)" id="admin-button" class="btn btn-primary text-left nav-item nav-link active"
               data-toggle="tab" aria-controls="admin-button" role="tab" aria-selected="true" href="#admin-tab">
                Admin
            </a>
            <a onclick="changeColor(false)" id="user-button" class="btn text-left nav-item nav-link"
               data-toggle="tab" aria-controls="user-button" href="#user-tab" role="tab" aria-selected="false">
                User
            </a>
        </div>
    </div>

    <div class="col-10 bg-light" style="height: 100vh">
        <div class="container-fluid tab-content">

            <div id="admin-tab" class="tab-pane fade show active" role="tabpanel" aria-labelledby="admin-button">
                <div class="tab-content">
                    <nav>
                        <div class="h1 bold">Admin panel</div>
                        <div class="nav nav-tabs" role="tablist">
                            <a class="nav-item nav-link active" id="users-table-tab" data-toggle="tab"
                               href="#users-table-panel" role="tab" aria-controls="users-table-panel"
                               aria-selected="true">
                                Users Table
                            </a>
                            <a class="nav-item nav-link" id="new-users-tab" data-toggle="tab" href="#new-users-panel"
                               role="tab" aria-controls="new-users-panel" aria-selected="false">New User
                            </a>
                        </div>
                    </nav>

                    <!--ALL_USERS-->
                    <div class="tab-pane fade show active" id="users-table-panel" role="tab"
                         aria-labelledby="users-table-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>All users</h3>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="all-users-content"></tbody>
                                    </table>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div id="modal-window"></div>

                    <!--NEW_USER-->
                    <div id="new-users-panel" class="tab-pane fade" role="tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Add new user</h3>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">

                                    <form id="create-user-form" class="text-center">
                                        <div class="form-group col-3 m-auto p-md-1">
                                            <h6 class="mb-0" for="usernameAdd">Username</h6>
                                            <input name="username" type="text" class="form-control form-control-sm"
                                                   id="usernameNew" placeholder="Enter username">
                                        </div>
                                        <div class="form-group col-3 mx-auto p-md-1">
                                            <h6 class="mb-0" for="exampleInputEmail1">Age</h6>
                                            <input name="age" type="text" class="form-control form-control-sm"
                                                   id="ageNew" aria-describedby="emailHelp"
                                                   placeholder="Enter age">
                                        </div>
                                        <div class="form-group col-3 mx-auto p-md-1">
                                            <h6 class="mb-0" for="exampleInputEmail2">Email</h6>
                                            <input name="email" type="email" class="form-control form-control-sm"
                                                   id="emailNew" aria-describedby="emailHelp"
                                                   placeholder="Enter email">
                                        </div>
                                        <div class="form-group  col-3 mx-auto p-md-1">
                                            <h6 class="mb-0" for="exampleInputEmail3">Password</h6>
                                            <input name="password" type="password"
                                                   class="form-control form-control-sm"
                                                   id="passwordNew" aria-describedby="emailHelp"
                                                   placeholder="Enter password">
                                        </div>
                                        <div class="form-group col-3 mx-auto">
                                            <h6 class="form-label mb-0">Role</h6>
                                            <select id="all-roles-new" class="form-select text-center" multiple
                                                    style="height: 50px" name="selectedRoles">
                                            </select>
                                        </div>
                                        </br>
                                    </form>

                                    <div class="modal-footer">
                                        <button onclick="createNewUser()" class="btn btn-success m-auto">Add new user
                                        </button>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="user-tab" class="tab-pane" aria-labelledby="user-button">
                <div class="h1 bold">User information-page</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="user-content">
                            </tbody>
                        </table>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/authorize.js"></script>
<script src="/showAllUsers.js"></script>
<script src="/showUser.js"></script>
<script src="/edit.js"></script>
<script src="/delete.js"></script>
<script src="/newUser.js"></script>
<script src="/createRoles.js"></script>
<script src="/changeColorButtons.js"></script>

</body>
</html>