<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <p class="navbar-brand mb-0 h1">
                <span class="align-middle font-weight-bold" th:text="${user.getUsername()}"></span>
                <span class="align-middle">with roles:</span>
                <span class="align-middle" th:each="role : ${user.getRoles()}" th:text="${role.getName()} + ' '"></span>
            </p>
            <form th:method="POST" th:action="@{/logout}">
                <button type="submit" value="Logout" class="btn btn-dark nav-item text-secondary">Logout</button>
            </form>
        </div>
    </nav>
</header>
<body>
<div class="d-flex align-items-start" style="height: 100vh">
    <div class="col-2 sidebar p-0">
        <div class="nav flex-column">
            <a type="button" class="btn btn-primary text-left" aria-selected="true" th:href="@{/user}">User</a>
        </div>
    </div>

    <div class="col-10 bg-light" style="height: 100vh">
        <div class="container-fluid">
            <div class="h1 bold">User information-page</div>

            <div class="tab-content">

                <!--USER_INFO-->
                <div class="tab-pane fade show active" id="users-table-panel" role="tab"
                     aria-labelledby="users-table-tab">
                    <div class="card">
                        <div class="card-header">
                            <h3>All users</h3>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.id}">id_user</td>
                                        <td th:text="${user.getUsername()}">Username</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td th:text="${user.getNameRoles()}">Role</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>